/*Colors

Primary: 867c35
Black: 343434
Gray: 666
White: fff

*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
/* General */
ul {
  list-style: none;
}
a {
  color: #343434;
  text-decoration: none;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
.section-padding {
  padding: 3rem 0rem;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-evenly {
  justify-content: space-evenly;
}
.col-4 {
  width: 33%;
}
.col-5 {
  width: 40%;
}
.col-6 {
  width: 50%;
}
.col-3 {
  width: 25%;
}
.img-fluid {
  width: 100%;
}
.align-items-center {
  align-items: center;
}
.text-right {
  text-align: right;
}
.btn-main {
  padding: 0.8rem 2rem;
  color: #fff;
  background-color: #343434;
  transition: 0.5s ease-in-out;
}
.btn-main:hover {
  background-color: #fff;
  color: #343434;
}
.btn-secondary {
  padding: calc(0.8rem - 2px) calc(2rem - 2px);
  color: #343434;
  background-color: #fff;
  transition: 0.5s ease-in-out;
  border: 2px solid #343434;
}
.btn-secondary:hover {
  background-color: #343434;
  color: #fff;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
}
.grid3col {
  grid-template-columns: 1fr 1fr 1fr;
}
.section-heading {
  font-size: 2rem;
}
.justify-content-space-between {
  justify-content: space-between;
}
.col-8 {
  width: 66%;
}
/* Header */
.header {
  padding: 1.5rem 0rem;
  border-bottom: 1px solid #000;
}
.navigation {
  justify-content: space-between;
}
.navigation li {
  margin: 0 1rem;
}
.logo {
  font-size: 1.2rem;
  font-weight: 700;
}
/* Hero */
.hero .img-fluid {
  height: 40rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem 5px #666;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.hero h3 {
  margin: 1rem 0;
}
/* Social Proof */
.social-proof .col-3 {
  justify-content: space-evenly;
  align-items: center;
}
.amount {
  font-size: 2.5rem;
}
.social-proof i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
/* About Me */
.about-content {
  flex-direction: column;
  padding: 2rem;
  background-color: #222;
  color: #fff;
}
/* Portfolio */
.portfolio-item {
  margin: 0.5rem;
}
.portfolio-item img {
  height: 15rem;
  object-fit: cover;
}
/* Call */
.call {
  background-color: #222;
  color: #fff;
}
.call h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
/* Contact */
.contact input,
.contact textarea {
  width: 100%;
  padding: 0.8rem 1rem;
}
.form-group {
  margin-bottom: 2rem;
}
/* Footer */
.footer {
  background-color: #222;
  color: #fff;
}
.footer-logo {
  margin-bottom: 2rem;
}
.footer a {
  color: #fff;
}
.footer ul {
  margin-top: 2rem;
}

@media (max-width: 500px) {
  .col-4,
  .col-6,
  .col-5,
  .col-8,
  .col-3 {
    width: 90%;
    padding: 1rem 5%!important;
  }
  .d-flex{
    flex-direction: column;
  }
  .grid3col{
    grid-template-columns: 1fr;
  }
  .navigation li{
    padding: 1rem 1rem;
    text-align: center;
  }
  .logo{
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;
  }
  .hero-link{
    margin-top: 2rem;
  }
}
